# Project context to remember

- Name: "AI-Driven Dev Project".
- Description: "Combination of AI tips for developers, Soon a roadmap for the members of the community to vote for the courses they want to learn.".
- My Role: "I am a senior typescript / javascript developer with experience in building web applications and APIs, I want to code fast in this project.".
- Tech Stack: "Next14 with App Router, Tailwind CSS, ShadCN, React with Typescript, Vercel, Node.js, Firebase, Google ReCAPTCHA, Resend API.".
